div.Menu{
  background: #ffffff30; 
  width: 90%;
  height: 90px;
  border-radius: 0 0 20px 20px;
  display: flex;
  position: fixed;
  padding-left: 30px;
  padding-right: 30px;
  left: 3%;
  justify-content: space-between;
}
div.Searchbar{
  margin-top: 17px;
  
}
.Searchbar input{
  background-color: #ffffff30;
  font-size: 20px;
  border:1px solid black;
  border-radius: 5px;
  height:30px;
  width:200px;
  
}
.Products{
  margin-right: 150px;
  width: 200px;
  border:1px solid black;
  border-bottom: none;
  border-top: none;
  
}



.Products label{
  height:70px;
  width: 200px;
  display: block;
  padding-top:20px ;
  position: relative;
  
} 
img{
  height: 70px;
}
.Account{
  
  padding-top: 18px;
  width: 100px;
  border:1px solid black;
  border-bottom: none;
  border-top: none;
  
}
.logo{
  margin-right: 15vw;
}

.List{
  background-color: #ffffff30;
  border-radius: 0 0 10px 10px;
  
  border-top: none;
  
  font-size: 25px;
  list-style: none;
  padding: 0;
  padding-right:1px;
  padding-top: 5px;
  position: relative;
  padding-bottom:10px;
  
  
}
.List li{
  border-bottom: 1px solid black;
}
.Products div li{
  text-align: center;
  border:none;
}
.Cart{
  
  padding-top: 18px;
  width: 100px;
  
  border:1px solid black;
  border-bottom: none;
  border-top: none;
  border-right: none;
}
.Menu .right{
  display: flex;
  
}
.hide{
  visibility: hidden;
}
.Products div li:hover{
  cursor: pointer;
  background-color:#ffffff40;
  box-shadow: 5px 5px 5px #00000040;
}
.Products label:hover{
  cursor: pointer;
  background-color:#ffffff40;
  box-shadow: 10px 10px 10px #00000040;
}