@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Oswald:wght@500&family=Poppins:wght@500&display=swap');

.App {
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  background:linear-gradient(to bottom right ,  rgb(0, 204, 204) 10%, rgb(10, 71, 99));
  height: 100vh;
  width: 100vw;
  min-width: 1057px;
  display: flex;
  justify-content: center;
}

